body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  #ingredientList {
    margin-top: 30px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  label {
    display: inline-block;
    margin-right: 10px;
  }
  
  input[type="checkbox"] {
    vertical-align: middle;
  }
  
  